body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
    font-weight: var(--font-base-weight);

    background-color: var(--color-background);
    color: var(--color-body);
}
