@use 'sass:math';

$paddingValues: (
    '0': 0,
    '1': math.div($spacer, 3),
    '2': math.div($spacer, 2),
    '3': $spacer,
    '4': $spacer * 1.5,
    '5': $spacer * 3
);

$marginValues: map-merge(
    $paddingValues,
    (
        'auto': auto
    )
);

$utilConfig: (
    'padding': (
        'property': 'padding',
        'key': 'p',
        'values': $paddingValues
    ),
    'padding-y': (
        'property': 'padding',
        'key': 'py',
        'values': (
            '0': 0 0,
            '1': math.div($spacer, 3) 0,
            '2': math.div($spacer, 2) 0,
            '3': $spacer 0,
            '4': $spacer * 1.5 0,
            '5': $spacer * 3 0
        )
    ),
    'padding-x': (
        'property': 'padding',
        'key': 'px',
        'values': (
            '0': 0 0,
            '1': 0 math.div($spacer, 3),
            '2': 0 math.div($spacer, 2),
            '3': 0 $spacer,
            '4': 0 $spacer * 1.5,
            '5': 0 $spacer * 3
        )
    ),
    'padding-top': (
        'property': 'padding-top',
        'key': 'pt',
        'values': $paddingValues
    ),
    'padding-bottom': (
        'property': 'padding-bottom',
        'key': 'pb',
        'values': $paddingValues
    ),
    'padding-start': (
        'property': 'padding-left',
        'key': 'ps',
        'values': $paddingValues
    ),
    'padding-end': (
        'property': 'padding-right',
        'key': 'pe',
        'values': $paddingValues
    ),
    'margin': (
        'property': 'margin',
        'key': 'm',
        'values': $paddingValues
    ),
    'margin-y': (
        'property': 'margin',
        'key': 'my',
        'values': (
            '0': 0 0,
            '1': math.div($spacer, 3) 0,
            '2': math.div($spacer, 2) 0,
            '3': $spacer 0,
            '4': $spacer * 1.5 0,
            '5': $spacer * 3 0,
            'auto': auto 0
        )
    ),
    'margin-x': (
        'property': 'margin',
        'key': 'mx',
        'values': (
            '0': 0 0,
            '1': 0 math.div($spacer, 3),
            '2': 0 math.div($spacer, 2),
            '3': 0 $spacer,
            '4': 0 $spacer * 1.5,
            '5': 0 $spacer * 3,
            'auto': 0 auto
        )
    ),
    'margin-top': (
        'property': 'margin-top',
        'key': 'mt',
        'values': $paddingValues
    ),
    'margin-bottom': (
        'property': 'margin-bottom',
        'key': 'mb',
        'values': $paddingValues
    ),
    'margin-start': (
        'property': 'margin-left',
        'key': 'ms',
        'values': $paddingValues
    ),
    'margin-end': (
        'property': 'margin-right',
        'key': 'me',
        'values': $paddingValues
    ),
    'width': (
        'property': 'width',
        'key': 'w',
        'values': (
            'auto': auto,
            '100': 100%,
            '50': 50%,
            '25': 25%
        )
    ),
    'height': (
        'property': 'height',
        'key': 'h',
        'values': (
            'auto': auto,
            '100': 100%,
            '50': 50%,
            '25': 25%
        )
    ),
    'text-align': (
        'property': 'text-align',
        'key': 'text',
        'values': (
            'start': start,
            'center': center,
            'end': end
        )
    )
);

@each $util, $config in $utilConfig {
    @each $suffix, $value in map-get($config, 'values') {
        .#{map-get($config, 'key')}-#{$suffix} {
            #{map-get($config, 'property')}: $value;
        }
    }
}
