@use 'sass:math';

$paddingValues: (
    '0': 0,
    '1': math.div($spacer, 2),
    '2': math.div($spacer, 2),
    '3': $spacer,
    '4': $spacer * 1.5,
    '5': $spacer * 3,
    '6': $spacer * 5
);

$marginValues: map-merge(
    $paddingValues,
    (
        'auto': auto
    )
);

$utilConfig: (
    'padding': (
        'property': 'padding',
        'key': 'p',
        'values': $paddingValues
    ),
    'padding-top': (
        'property': 'padding-top',
        'key': 'pt',
        'values': $paddingValues
    ),
    'padding-bottom': (
        'property': 'padding-bottom',
        'key': 'pb',
        'values': $paddingValues
    ),
    'padding-start': (
        'property': 'padding-left',
        'key': 'ps',
        'values': $paddingValues
    ),
    'padding-end': (
        'property': 'padding-right',
        'key': 'pe',
        'values': $paddingValues
    ),
    'margin': (
        'property': 'margin',
        'key': 'm',
        'values': $paddingValues
    ),
    'margin-top': (
        'property': 'margin-top',
        'key': 'mt',
        'values': $paddingValues
    ),
    'margin-bottom': (
        'property': 'margin-bottom',
        'key': 'mb',
        'values': $paddingValues
    ),
    'margin-start': (
        'property': 'margin-left',
        'key': 'ms',
        'values': $paddingValues
    ),
    'margin-end': (
        'property': 'margin-right',
        'key': 'me',
        'values': $paddingValues
    ),
    'width': (
        'property': 'width',
        'key': 'w',
        'values': (
            'auto': auto,
            '100': 100%,
            '50': 50%,
            '25': 25%
        )
    ),
    'height': (
        'property': 'height',
        'key': 'h',
        'values': (
            'auto': auto,
            '100': 100%,
            '50': 50%,
            '25': 25%
        )
    ),
    'text-align': (
        'property': 'text-align',
        'key': 'text',
        'values': (
            'start': start,
            'center': center,
            'end': end
        )
    ),
    'color': (
        'property': 'color',
        'key': 'color',
        'values': $colorValues
    ),
    'background-color': (
        'property': 'background-color',
        'key': 'bg',
        'values': $colorValues
    )
);

@each $util, $config in $utilConfig {
    @each $suffix, $value in map-get($config, 'values') {
        .#{map-get($config, 'key')}-#{$suffix} {
            #{map-get($config, 'property')}: $value !important;
        }
    }
}

// mx and my
@each $suffix, $marginValue in $marginValues {
    .mx-#{$suffix} {
        margin-left: $marginValue !important;
        margin-right: $marginValue !important;
    }
    .my-#{$suffix} {
        margin-top: $marginValue !important;
        margin-bottom: $marginValue !important;
    }
}
// px and py
@each $suffix, $paddingValue in $paddingValues {
    .px-#{$suffix} {
        padding-left: $paddingValue !important;
        padding-right: $paddingValue !important;
    }
    .py-#{$suffix} {
        padding-top: $paddingValue !important;
        padding-bottom: $paddingValue !important;
    }
}
